{% extends "medico/base.html" %}

{% block content %}


    <main class="conteudo-principal">


        <header class="cabecalho-principal">

            <div>

                <span class="rotulo">
                    Painel médico
                </span>

                <h1>
                    Atendimentos de hoje
                </h1>

                <p class="subtitulo">
                    Consulte os pacientes e inicie seus atendimentos.
                </p>

            </div>


            <div class="cartao-usuario">

                <div class="avatar-usuario">

                    {{ request.medico.nome}}

                </div>


                <div class="dados-usuario">

                    <span class="nome-usuario">

                        {{ request.medico.nome }}

                    </span>

                    <span class="cpf-usuario">

                        CRM: {{ request.user.medico.crm }}

                    </span>

                </div>

            </div>

        </header>


        <section class="secao">

            <div class="cabecalho-secao">

                <div>

                    <h2>
                        Agenda de hoje
                    </h2>

                </div>

            </div>


            {% if atendimentos %}

                <div class="lista-registros">


                    {% for atendimento in atendimentos %}

                        <div class="item-registro">


                            <div class="info-registro">

                                <span class="titulo-registro">

                                    {{ atendimento.paciente.nome }}

                                </span>


                                <span class="subtitulo-registro">

                                    {{ atendimento.especialidade }}

                                    ·

                                    {{ atendimento.data|date:"H:i" }}

                                    ·

                                    {% if atendimento.tipo == "consulta" %}
                                        Consulta
                                    {% else %}
                                        Exame
                                    {% endif %}

                                </span>

                            </div>


                            <div>

                                <span class="status-badge status-agendado">

                                    {{ atendimento.status }}

                                </span>


                                {% if atendimento.tipo == "consulta" %}

                                    <a
                                        href="{% url 'medico:iniciar_consulta' atendimento.id %}"
                                        class="botao-secundario"
                                    >
                                        Iniciar
                                    </a>

                                {% else %}

                                    <a
                                        href="{% url 'medico:iniciar_exame' atendimento.id %}"
                                        class="botao-secundario"
                                    >
                                        Iniciar
                                    </a>

                                {% endif %}

                            </div>


                        </div>

                    {% endfor %}


                </div>

            {% else %}

                <div class="estado-vazio">

                    <h2>
                        Nenhum atendimento hoje
                    </h2>

                    <p>
                        Não existem consultas ou exames
                        disponíveis para você neste momento.
                    </p>

                </div>

            {% endif %}

        </section>


        <footer class="rodape">

            Sistema Hospitalar

        </footer>


    </main>

</div>

</body>
</html>
{% endblock%}
