{% extends "medico/base.html" %}

{% block content %}


    <main class="conteudo-principal">


        <header class="cabecalho-principal">

            <div>

                <span class="rotulo">
                    Médico
                </span>

                <h1>
                    Meu perfil
                </h1>

                <p class="subtitulo">
                    Visualize seus dados profissionais.
                </p>

            </div>


            <div class="cartao-usuario">

                <div class="avatar-usuario">

                    {{ medico.nome}}

                </div>


                <div class="dados-usuario">

                    <span class="nome-usuario">
                        {{ medico.nome }}
                    </span>

                    <span class="cpf-usuario">
                        CRM: {{ medico.crm }}
                    </span>

                </div>

            </div>

        </header>


        <section class="secao">

            <div class="cabecalho-secao">

                <h2>
                    Dados profissionais
                </h2>

            </div>


            <div class="grade-perfil">


                <div class="item-perfil">

                    <span class="rotulo-perfil">
                        Nome
                    </span>

                    <span class="valor-perfil">
                        {{ medico.nome }}
                    </span>

                </div>


                <div class="item-perfil">

                    <span class="rotulo-perfil">
                        CRM
                    </span>

                    <span class="valor-perfil">
                        {{ medico.crm }}
                    </span>

                </div>


                <div class="item-perfil">

                    <span class="rotulo-perfil">
                        Especialidade
                    </span>

                    <span class="valor-perfil">
                        {{ medico.especialidade }}
                    </span>

                </div>
            </section>

            <section class="secao">

            <div class="cabecalho-secao">

                <h2>
                    Consultas
                </h2>

            </div>  
                    <div class="item-perfil">
                        {% for vaga in vagas %}
                         
                        {% if vaga.tipo_consulta != none %}
                                <span class="rotulo-perfil">
                                Consulta 
                                </span>

                                <span class="valor-perfil">
                                {{vaga.tipo_consulta}}
                            </span>
                            {% else %}
                                <span class="rotulo-perfil">
                                Exame 
                                </span>

                                <span class="valor-perfil">
                                {{vaga.tipo_exame}}
                                </span>
                                
                            {% endif %}

                            <span class="rotulo-perfil">
                                Data 
                            </span>

                            <span class="valor-perfil">
                                {{vaga.dia}}
                            </span>

                            <span class="rotulo-perfil">
                                Turno 
                            </span>
                        
                            <span class="valor-perfil">
                                {{vaga.turno}}
                            </span>

                            <span class="rotulo-perfil">
                                Quantidade de Vagas
                            </span>
                        
                            <span class="valor-perfil">
                                {{vaga.quantidade_vagas}}
                            </span>
                            {% endfor %}

                        
            </section>

        


        <footer class="rodape">

            Sistema Hospitalar

        </footer>


    </main>

</div>

</body>
</html>
{% endblock%}
