{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Perfil Médico</title>

    <link rel="stylesheet" href="{% static 'static/styles/estilos.css' %}">

</head>

<body>

<div class="layout-principal">


    <aside class="barra-lateral">

        <div>

            <div class="marca">

                <span class="ponto"></span>

                Sistema Hospitalar

            </div>


            <nav class="menu-lateral">

                <a
                    href="{% url 'medico:painel' %}"
                    class="item-menu"
                >

                    <span class="icone-menu">
                        🏠
                    </span>

                    Painel

                </a>


                <a
                    href="{% url 'medico:perfil' %}"
                    class="item-menu ativo"
                >

                    <span class="icone-menu">
                        👤
                    </span>

                    Perfil

                </a>

            </nav>

        </div>


        <div class="item-sair">

            <a
                href="{% url 'medico:logout_medico' %}"
                class="item-menu"
            >

                <span class="icone-menu">
                    ↪
                </span>

                Sair

            </a>

        </div>

    </aside>


    <main class="conteudo-principal">


        <header class="cabecalho-principal">

            <div>

                <span class="rotulo">
                    Médico
                </span>

                <h1>
                    Meu perfil
                </h1>

                <p class="subtitulo">
                    Visualize seus dados profissionais.
                </p>

            </div>


            <div class="cartao-usuario">

                <div class="avatar-usuario">

                    {{ medico.nome}}

                </div>


                <div class="dados-usuario">

                    <span class="nome-usuario">
                        {{ medico.nome }}
                    </span>

                    <span class="cpf-usuario">
                        CRM: {{ medico.crm }}
                    </span>

                </div>

            </div>

        </header>


        <section class="secao">

            <div class="cabecalho-secao">

                <h2>
                    Dados profissionais
                </h2>

            </div>


            <div class="grade-perfil">


                <div class="item-perfil">

                    <span class="rotulo-perfil">
                        Nome
                    </span>

                    <span class="valor-perfil">
                        {{ medico.nome }}
                    </span>

                </div>


                <div class="item-perfil">

                    <span class="rotulo-perfil">
                        CRM
                    </span>

                    <span class="valor-perfil">
                        {{ medico.crm }}
                    </span>

                </div>


                <div class="item-perfil">

                    <span class="rotulo-perfil">
                        Especialidade
                    </span>

                    <span class="valor-perfil">
                        {{ medico.especialidade }}
                    </span>

                </div>

            </div>

        </section>


        <footer class="rodape">

            Sistema Hospitalar

        </footer>


    </main>

</div>

</body>
</html>

