{% extends "paciente/base.html" %}

{% block content %}

  <!-- CONTEÚDO PRINCIPAL -->
  <main class="conteudo-principal">

    <header class="cabecalho-principal">
      <div class="saudacao">
        <p class="rotulo">Meu perfil</p>
        <h1>{{ paciente.nome }}</h1>
      </div>

      <div class="cartao-usuario">
        <div class="avatar-usuario">{{ paciente.nome }}</div>
        <div class="dados-usuario">
          <span class="nome-usuario">{{ paciente.nome }}</span>
          <span class="cpf-usuario" id="cpf-usuario2">CPF: {{ paciente.cpf }}</span>
        </div>
      </div>
    </header>

    <!-- DADOS PESSOAIS -->
    <section class="secao">
      <div class="cabecalho-secao">
        <h2>Dados pessoais</h2>
      </div>

      <div class="grade-perfil">
        <div class="item-perfil">
          <span class="rotulo-perfil">Nome completo</span>
          <span class="valor-perfil">{{ paciente.nome }}</span>
        </div>

        <div class="item-perfil">
          <span class="rotulo-perfil">CPF</span>
          <span class="valor-perfil" id="cpf-usuario">{{ paciente.cpf }}</span>
        </div>

        <div class="item-perfil">
          <span class="rotulo-perfil">Data de nascimento</span>
          <span class="valor-perfil">{{ paciente.data_nascimento|date:"d/m/Y" }}</span>
        </div>

        <div class="item-perfil">
          <span class="rotulo-perfil">E-mail</span>
          <span class="valor-perfil">{{ paciente.email }}</span>
        </div>

        <div class="item-perfil">
          <span class="rotulo-perfil">Telefone</span>
          <span class="valor-perfil" id="telefone-usuario">{{ paciente.telefone }}</span>
        </div>
      </div>
    </section>

  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {

    const cpf = document.getElementById('cpf-usuario');
    const telefone = document.getElementById('telefone-usuario');
    const cpf2 = document.getElementById('cpf-usuario2');

    if (cpf) {
        cpf.textContent = formatarCPF(cpf.textContent);
    }
    if (cpf2) {
      cpf2.textContent = formatarCPF(cpf2.textContent);
    }

    if (telefone) {
        telefone.textContent = formatarTelefone(telefone.textContent);
    };
  });
  </script>
</div>

{% endblock%}