{% extends "paciente/base.html" %}

{% block content %}
  <!-- CONTEÚDO PRINCIPAL -->
  <main class="conteudo-principal">

    <header class="cabecalho-principal">
      <div class="saudacao">
        <p class="rotulo">Painel do paciente</p>
        <h1>Olá, {{ paciente.nome }}</h1>
      </div>
   
      <div class="cartao-usuario">
        <div class="avatar-usuario">{{ paciente.nome|default:"P"|slice:":1" }}</div>
        <div class="dados-usuario">
          <span class="nome-usuario">{{ paciente.nome|default:"Nome do paciente" }}</span>
          <span class="cpf-usuario" id="cpf-usuario">CPF: {{ paciente.cpf }} </span>
        </div>
      </div>
    </header>

    <h1>Meus Agendamentos</h1>
    <!-- RELATÓRIOS DE CONSULTA -->
    <section class="secao">
      <div class="cabecalho-secao">
        <h2>Consultas</h2>
        <a href="{% url 'ver_consultas' %}" class="link-discreto">Ver todos</a>
      </div>

      <div class="lista-registros">
        {% for consulta in consultas %}
        <div class="item-registro">
          <div class="info-registro">
            <span class="titulo-registro">{{consulta.especialidade}} - {{ consulta.data|date:"d/m/Y" }}</span>
          </div>
          <span class="status-badge status-{{ consulta.status|lower }}">{{ consulta.status }}</span>
          <a href="{% url 'ver_atendimento_consulta' consulta.id %}" class="link-discreto">Ver relatório</a>
        </div>
        {% empty %}
        <div class="estado-vazio">
          <p>Nenhum relatório de consulta encontrado.</p>
        </div>
        {% endfor %}
      </div>
    </section>

    <!-- EXAMES --> 
    <section class="secao">
      <div class="cabecalho-secao">
        <h2>Exames</h2>
        <a href="{% url 'ver_exames' %}" class="link-discreto">Ver todos</a>
      </div>

      <div class="lista-registros">
        {% for exame in exames %}
        <div class="item-registro">
          <div class="info-registro">
            <span class="titulo-registro">{{ exame.tipo_exame}} - {{ exame.data|date:"d/m/Y" }} </span>
            <span class="status-badge status-{{ exame.status|lower }}">{{ exame.status }}</span>
          </div>
          <a href="{% url 'ver_resultado_exame' exame.id %}" class="link-discreto">Ver resultado</a>
        </div>
        {% empty %}
        <div class="estado-vazio">
          <p>Nenhum exame encontrado.</p>
        </div>
        {% endfor %}
      </div>
   
   
    </section>

  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    const cpf = document.getElementById('cpf-usuario');
    if (cpf) {
    cpf.textContent = formatarCPF(cpf.textContent);
}
    });

  </script>

</div>

{% endblock %}