{% extends "paciente/base.html" %}

{% block content %}

  <div class="lista-registros">

    {% for exame in exames %}
    <div class="item-registro">

        <div class="info-registro">
            <span class="titulo-registro">
                {{ exame.tipo_exame }}
            </span>

            <span class="subtitulo-registro">
                {{ exame.data|date:"d/m/Y" }} • {{ exame.get_status_display }}
            </span>
        </div>

        <a href="#" class="link-discreto">
            Ver resultado
        </a>

    </div>
    {% endfor %}

</div>

<div class="paginacao">

    {% if exames.has_previous %}
        <a href="?page={{ exames.previous_page_number }}" class="link-discreto">
            ← Anterior
        </a>
    {% endif %}

    <span>Página {{ exames.number }} de {{ exames.paginator.num_pages }}</span>

    {% if exames.has_next %}
        <a href="?page={{ exames.next_page_number }}" class="link-discreto">
            Próxima →
        </a>
    {% endif %}

</div>
  
{% endblock %}