{% extends 'gestao/base.html' %}

{% block title %}
Excluir configuração
{% endblock %}

{% block titulo %}
Excluir configuração de vagas
{% endblock %}

{% block subtitulo %}
Confirme a exclusão da configuração selecionada.
{% endblock %}

{% block content %}

<div class="secao">

    <div class="cabecalho-secao">

        <div>
            <h2>
                Confirmar exclusão
            </h2>
        </div>

    </div>


    <div class="grade-perfil">

        <!-- MÉDICO -->

        <div class="item-perfil">

            <span class="rotulo-perfil">
                Médico
            </span>

            <span class="valor-perfil">
                {{ configuracao.medico.nome }}
            </span>

        </div>


        <!-- ESPECIALIDADE -->

        <div class="item-perfil">

            <span class="rotulo-perfil">
                Especialidade
            </span>

            <span class="valor-perfil">
                {{ configuracao.get_especialidade_display }}
            </span>

        </div>


        <!-- DIA -->

        <div class="item-perfil">

            <span class="rotulo-perfil">
                Dia
            </span>

            <span class="valor-perfil">
                {{ configuracao.get_dia_display }}
            </span>

        </div>


        <!-- TURNO -->

        <div class="item-perfil">

            <span class="rotulo-perfil">
                Turno
            </span>

            <span class="valor-perfil">
                {{ configuracao.get_turno_display }}
            </span>

        </div>


        <!-- VAGAS -->

        <div class="item-perfil">

            <span class="rotulo-perfil">
                Quantidade de vagas
            </span>

            <span class="valor-perfil">
                {{ configuracao.quantidade_vagas }}
            </span>

        </div>

    </div>


    <div class="alerta alerta-aviso">

        Atenção: esta configuração de vagas será removida
        permanentemente.

    </div>


    <form
        method="POST"
        action="{% url 'gestao_clinica:excluir_configuracao_vagas' configuracao.id %}"
    >

        {% csrf_token %}

        <button
            type="submit"
            class="botao-secundario botao-excluir"
        >
            Confirmar exclusão
        </button>


        <a
            href="{% url 'gestao_clinica:listar_configuracao_vagas' %}"
            class="botao-secundario"
        >
            Cancelar
        </a>

    </form>

</div>

{% endblock %}